<!DOCTYPE html>    
<div>
     <div>
     <form action="/funcionarios/novo">
          <button type="submit">adicionar novo empregado</button>
     </form>
     </div>
     <div>
          <form>

          <button name="ordem" value="<%= ordem %>">
               Criado em
          </button>

          <button name="agruparpor" value="company">
               company name
          </button>
          </form>
     </div>
<ul>
     <% funcionarios.forEach(function(funcionario) { %>
          <li>
               <p>
                    Nome: <%= funcionario.nome %>
               </p>

               <p>
                    email: <%= funcionario.email %>
               </p>
               <p>
                    email: <%= funcionario.telephone %>
               </p>
               <p>
                    company: <%= funcionario.empresa %>
               </p>

               <form action="/funcionarios/<%= funcionario.id %>/editar">
               <button>Editar</button>
               </form>
          </li>
          <% }); %>
</ul>
</div>
</html>