<!DOCTYPE html>    
<div>
     <div>
     <form action="/employees/new">
          <button type="submit">adicionar novo empregado</button>
     </form>
     </div>
     <div>
          <form>

          <button name="order" value="<%= order %>">
               Created at
          </button>

          <button name="groupby" value="company">
               company name
          </button>
          </form>
     </div>
<ul>
     <% employees.forEach(function(employee) { %>
          <li>
               <p>
                    Nome: <%= employee.name %>
               </p>

               <p>
                    email: <%= employee.email %>
               </p>
               <p>
                    email: <%= employee.telephone %>
               </p>
               <p>
                    company: <%= employee.company %>
               </p>

               <form action="/employees/<%= employee.id %>/edit">
               <button>Editar</button>
               </form>
          </li>
          <% }); %>
</ul>
</div>
</html>